<h1>Editing movie</h1>

<%= turbo_frame_tag @movie do %>
  <%= render "form", movie: @movie %>
<% end %>

<br>

<div>
  <%= link_to "Show this movie", @movie %> |
  <%= link_to "Back to movies", movies_path %>
</div>
