<p style="color: green"><%= notice %></p>

<h1 class='text-3xl mb-5 font-bold'>
  Great Movies!!!
</h1>

<%= turbo_frame_tag 'new-movie' do %>
  <div class='mb-4'>
    <%= link_to "Add A Movie", new_movie_path, class: 'button' %>
  </div>
<% end %>

<div id='movies'>
  <% @movies.each do |movie| %>
    <%= render movie %>
  <% end %>
</div>
